.App {
    display: flex;
    justify-content: space-between;
}

.order-details, .add-items {
    flex-basis: 50%;
    border: 1px solid black;
    margin: 5px;
    padding: 20px;
}

.add-items {
    flex-basis: 80%;
    display: flex;
    flex-wrap: wrap;
}

.item {
    flex-basis: 40%;
    padding: 15px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
}
